$font-stack: Helvetica, sans-serif;
$color-green: #00ff00;
$color-dark: #212529;
$color-grey: #978e8e;

body {
  font: 100% $font-stack;
  color: $color-green;
}

nav {
  color: $color-grey;
  background-color: #0f0f0f;
}
