$color-green: #00ff00;
$color-dark: #212529;
$color-darker: #0f0f0f;
$color-grey: #978e8e;

@font-face {
  font-family: Montserrat-Light;
  src: url(../../fonts/Montseratt/montserrat-light_0.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../../fonts/Montseratt/Montserrat-Regular.otf);
  src: url(../../fonts/Montseratt/montserrat-regular_2.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../../fonts/Montseratt/montserrat-bold_0.ttf);
  font-weight: normal;
  font-style: normal;
}

$razer-font-regular: "Montserrat-Regular";
$razer-font-bold: "Montserrat-Bold";
$razer-font-light: "Montserrat-Light";

$razer-dropdown-border: 2px solid $color-darker;

* {
  font-family: $razer-font-regular;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background-color: $color-darker;
}

ul {
  margin: 0;
  list-style-type: none;
}

a {
  color: $color-grey;
  text-decoration: none;
  &:hover {
    color: $color-grey;
    text-decoration: none;
  }
}

.container {
  padding-right: 27px;
  padding-left: 27px;
}

.toggle {
  cursor: pointer;
}

.desktop-menu {
  ul {
    height: 60px;
    li {
      &.menu-item {
        cursor: pointer;
        display: none;
      }
    }
  }
}

#mobile-menu {
  background-color: #000;
  ul {
    li {
      &.menu-item {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
      }
      a {
        display: block;
        font-size: 18px;
        color: rgba($color: $color-grey, $alpha: 0.7);
        text-transform: uppercase;
        &:hover {
          color: $color-green;
          img.razer-arrow-icon {
            content: url("../../images/Desktop/SVG/Green Drop Down copy - edited.svg");
          }
        }
        .razer-arrow-icon {
          height: 18px;
          width: 18px;
          opacity: 0.7;
          transform: rotate(-90deg);
        }
      }
      button {
        margin-top: 20px;
      }
    }
  }
}

.logo {
  margin-right: auto;
  img {
    height: 18px;
  }
  a {
    font-size: 20px;
  }
}

%razer-button {
  background-color: $color-green;
  border: none;
  border-radius: 20px;
  height: 42px;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
  box-shadow: 8px 8px 16px 0px rgba(64, 69, 73, 0.1);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: $razer-font-bold;
  color: $color-darker;
  font-size: 11px;
}

.cta-button {
  @extend %razer-button;
  width: 100%;
  height: 55px;
  border-radius: 30px;
  font-size: 13px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow: scroll;
  cursor: pointer;
}

.overlay-header {
  height: 60px;
  color: $color-grey;
  margin-bottom: 20px;
  .overlay-title {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $razer-font-bold;
    font-size: 18px;
  }
  .overlay-close {
    margin-left: auto;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bolder;
  }
}

#menu-back-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
  transform: rotate(90deg);
}

.razer-section-title {
  color: $color-green;
  text-transform: uppercase;
  font-family: $razer-font-bold;
  font-size: 24px;
}
.razer-text-content {
  color: $color-grey;
  font-family: $razer-font-light;
  font-size: 14px;
}

.razer-divider {
  border: 0.5px solid $color-grey;
  margin-top: 16px;
  margin-bottom: 16px;
}
// Body Sections
#supreme-wireless-immersion-section {
  background-image: linear-gradient(to bottom, $color-darker, rgba(0, 0, 0, 0)),
    url("../../images/Desktop/JPG/razer-nari-hero-desktop-wireless-gaming-headset CL.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: normal;
  .razer-section-title,
  .razer-text-content {
    max-width: 585px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .razer-section-title {
    padding-top: 28px;
    color: #fff;
    font-size: 40px;
    line-height: 48px;
  }
  .razer-text-content {
    line-height: 20px;
  }

  #three-logos {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 72px;
    img {
      height: 72px;
    }
    img:first-child {
      margin-right: 12px;
    }
    img:nth-child(3) {
      height: 160px;
      margin-left: auto;
      margin-right: -40px;
    }
  }
}

#complemented-by-comfort-section {
  padding-top: 45px;
  padding-bottom: 0;
  background-color: $color-darker;
  div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .razer-section-header {
    text-align: center;
    max-width: 650px;
    margin-bottom: 32px;
    .razer-section-title {
      padding-left: 36px;
      padding-right: 36px;
    }
    .razer-text-content {
      font-size: 16px;
      line-height: 24px;
      padding-top: 16px;
      margin: 0;
    }
  }
  .razer-features-list {
    display: flex;
    flex-flow: row wrap;
    .razer-feature {
      flex-basis: 100%;
      padding-left: 27px;
      padding-right: 27px;
      padding-bottom: 18px;
      img {
        height: 38px;
        margin-bottom: 8px;
      }
      h5 {
        font-size: 16px;
        letter-spacing: 0.8px;
        color: white;
        text-transform: uppercase;
        font-family: $razer-font-bold;
      }
      p {
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 17px;
        color: #747474;
        font-family: $razer-font-light;
      }
    }
  }
  .razer-divider {
    display: none;
  }
}
#product-images-section {
  padding-top: 45px;
  padding-bottom: 24px;
  background-color: $color-darker;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .products-header {
    text-align: center;
  }

  .swiper-container {
    padding-top: 34px;
    padding-right: 20px;
    padding-bottom: 52px;
    padding-left: 20px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    .view-fullscreen-button {
      position: absolute;
      @extend %razer-button;
      padding-left: 28px;
      padding-right: 28px;
      display: none;
      z-index: 1060;
    }
    &:hover {
      .view-fullscreen-button {
        display: block;
      }
      img {
        opacity: 0.24;
      }
    }
  }

  .swiper-pagination-bullet {
    background: $color-grey;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: $color-green;
    box-shadow: 0px 0px 0px 1px $color-green;
    border: 1px solid;
    border-radius: 100%;
    padding: 2px;
  }
  .swiper-pagination {
    margin: 10px 0px 0px 0px;
    bottom: 0;
  }
}

#fullscreen-product-image {
  &.overlay {
    background-color: rgba($color: #000, $alpha: 0.9);
  }
  .overlay-header {
    margin-bottom: 0;
  }
  .overlay-content {
    padding-bottom: 60px;
  }
}

#thx-spatial-audio-section {
  padding-top: 62px;
  padding-bottom: 54px;
  background-image: url("../../images/Desktop/JPG/razer-nari-usp02-desktop-wireless-gaming-headset.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  #thx-content {
    max-width: 401px;
    padding-left: 22px;
    padding-right: 20px;
    .razer-text-content {
      padding-top: 16px;
      padding-bottom: 0;
      font-size: 16px;
      line-height: 24px;
    }
    img {
      display: none;
      height: 142px;
      width: 142px;
    }
  }
}

.razer-fade-in {
  animation: fade-in 1.4s;
}

.razer-hidden {
  opacity: 0;
}

#other-products-section {
  padding-top: 55px;
  padding-bottom: 45px;
  background-color: $color-darker;
  .razer-section-title {
    margin-bottom: 50px;
    text-align: center;
  }
  .razer-card {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 32px;
    display: none;
    &:first-child,
    &:first-child + .razer-card {
      display: block;
    }
  }
  #other-products-button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    button {
      @extend %razer-button;
      &#view-all-products-button {
        padding-left: 23px;
        padding-right: 23px;
      }
      &#show-less-product-button {
        display: none;
      }
    }
  }
}

.razer-card {
  .razer-card-header-image {
    position: relative;
    background-color: #000;
    img:not(.brand-indicator) {
      width: 100%;
    }
    .brand-indicator {
      position: absolute;
      right: 20px;
      bottom: 14px;
    }
  }
  .razer-card-body {
    border-bottom: 2px solid $color-green;
    background-color: #161515;
    padding-top: 24px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
    h5 {
      color: #fff;
      text-transform: uppercase;
      font-family: $razer-font-bold;
      font-size: 15px;
      letter-spacing: 1px;
    }
    p {
      color: $color-grey;
      font-family: $razer-font-light;
      font-size: 12px;
      line-height: 14px;
    }
    a {
      color: $color-green;
      text-transform: uppercase;
      cursor: pointer;
      font-family: $razer-font-regular;
      font-size: 12px;
    }
  }
}

#contact-form-section {
  background-color: #080808;
  padding-top: 54px;
  padding-bottom: 34px;
  .row {
    padding-left: 27px;
    padding-right: 27px;
  }

  .razer-section-title {
    text-align: center;
    margin-bottom: 24px;
  }

  .form {
    padding-bottom: 54px;
    .container,
    .row {
      padding-left: 0;
      padding-right: 0;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
    input,
    textarea {
      width: 100%;
      box-sizing: border-box;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 12px;
      padding-bottom: 12px;
      background: none;
      border: 1px solid #bcc6d0;
      border-radius: 5px;
      color: #fff;
      font: {
        family: $razer-font-light;
        size: 11px;
      }
      &::placeholder {
        color: #fff;
      }
    }
    textarea {
      height: 128px;
    }
    input[type="submit"] {
      @extend %razer-button;
      width: 100%;
    }
  }

  .contact-info {
    h5 {
      padding-top: 12px;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: $razer-font-bold;
    }
    p {
      font-size: 15px;
      line-height: 22px;
      color: $color-grey;
      letter-spacing: 1px;
      font-family: $razer-font-regular;
    }
  }
}

#footer {
  background-color: $color-darker;
  // height: 150px;
  .container {
    padding-left: 27px;
    padding-right: 27px;
    .row {
      padding-left: 27px;
      padding-right: 27px;
    }
  }
  #footer-logo {
    height: 26px;
  }

  #footer-menu {
    height: auto;
    padding-top: 48px;
    padding-bottom: 28px;

    nav {
      padding-top: 27px;
      padding-bottom: 27px;
      ul {
        li {
          padding-top: 4px;
          padding-bottom: 4px;
          padding-right: 0;
          padding-left: 0;
          text-transform: uppercase;
          a {
            font-size: 14px;
            font-family: $razer-font-bold;
            letter-spacing: 1px;
          }
          &:hover {
            color: $color-green;
          }
        }
      }
    }

    .social-icons img {
      width: 17px;
      height: 17px;
      margin: 0px 5px;
    }
  }
  .razer-divider {
    max-width: 1200px;
    border: 1px solid rgba($color: $color-grey, $alpha: 0.12);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .razer-copyright p {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #4a4646;
    font: {
      family: $razer-font-light;
      size: 13px;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  #complemented-by-comfort-section {
    padding-top: 70px;
    .razer-section-header {
      .razer-text-content {
        line-height: 30px;
      }
    }
    .razer-features-list {
      .razer-feature {
        flex-basis: 50%;
        padding-top: 27px;
        padding-bottom: 27px;
        h5 {
          font-size: 14px;
          letter-spacing: 1px;
        }
        p {
          font-size: 14px;
          letter-spacing: 1px;
          color: #747474;
        }
      }
    }
    .razer-divider {
      width: 100%;
      display: block;
    }
  }

  #product-images-section {
    padding-bottom: 54px;
    .swiper-container {
      padding-bottom: 67px;
    }
  }

  #thx-spatial-audio-section {
    padding-top: 110px;
    padding-bottom: 110px;
    #thx-content {
      padding-left: 0;
      padding-right: 0;
      .razer-text-content {
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 20px;
        line-height: 30px;
      }
      img {
        display: block;
      }
    }
  }
  #other-products-section {
    padding-top: 76px;
    padding-bottom: 76px;
    .container {
      padding-left: 0;
      padding-right: 0;
      .row {
        margin-left: -10px;
        margin-right: -10px;
      }
    }
    #other-products-button {
      display: none;
    }

    .razer-card {
      padding-right: 10px;
      padding-left: 10px;
      display: block;
    }
  }

  #contact-form-section {
    padding-top: 74px;
    padding-bottom: 60px;
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .razer-section-title {
      text-align: left;
      margin-bottom: 32px;
    }

    .form {
      .container,
      .row {
        padding-left: 0;
        padding-right: 0;
      }
      input,
      textarea {
        padding: 11px;
        font: {
          size: 11px;
        }
      }
      textarea {
        height: 100px;
      }
      input[type="submit"] {
        width: 150px;
      }
    }

    .contact-info {
      h5 {
        font-size: 13px;
      }
      p {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }

  #footer {
    .container {
      .row {
        padding-left: 0;
        padding-right: 0;
      }
    }

    #footer-menu {
      padding-top: 32px;
      padding-bottom: 32px;
      nav {
        ul {
          li {
            &:hover {
            }
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #contact-form-section {
    .form {
      .two-form-fields {
        margin-left: -4px;
        margin-right: -4px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .desktop-menu {
    ul {
      height: 72px;
      li {
        a {
          display: block;
          font-size: 11px;
          letter-spacing: 1px;
          padding-top: 28px;
          padding-right: 20px;
          padding-bottom: 28px;
          padding-left: 20px;
          text-transform: uppercase;
          font-family: $razer-font-bold;
          span {
            margin-right: 10px;
            font-family: $razer-font-bold;
          }
          .razer-arrow-icon {
            height: 12px;
            width: 12px;
          }
        }
        &.menu-item {
          position: relative;
          display: block;
          ul {
            visibility: hidden;
            opacity: 0;
            min-width: 217px;
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            z-index: 1000;
            li {
              background-color: #000;
              box-sizing: border-box;
              border-left: $razer-dropdown-border;
              border-right: $razer-dropdown-border;
              &:hover {
                > a {
                  color: $color-green;
                }
                img.razer-arrow-icon {
                  content: url("../../images/Desktop/SVG/Green Drop Down copy - edited.svg");
                }
              }
              a {
                font-size: 14px;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-right: 20px;
                span {
                  margin-right: 0;
                }
                .razer-arrow-icon {
                  height: 14px;
                  width: 14px;
                  transform: rotate(-90deg);
                }
              }
              ul {
                // top: 0;
                margin-top: -53px;
                left: 100%;
              }
              &:last-child {
                border-bottom: $razer-dropdown-border;
              }
              &:first-child {
                border-top: $razer-dropdown-border;
              }
            }
          }
          &:hover > ul {
            visibility: visible;
            opacity: 1;
            display: block;
          }
        }
        button {
          margin-left: 20px;
        }
      }
    }
    .logo {
      img {
        height: 26px;
      }
      a {
        font-size: 20px;
      }
    }
    .cta-button {
      width: auto;
      height: 42px;
      border-radius: 20px;
      font-size: 11px;
    }
  }

  // Body Sections
  #supreme-wireless-immersion-section {
    background-image: url("../../images/Desktop/JPG/razer-nari-hero-desktop-wireless-gaming-headset CL.jpg");
    .razer-section-title,
    .razer-text-content {
      padding-left: 0;
      padding-right: 0;
    }
    .razer-section-title {
      padding-top: 128px;
      margin-bottom: 18px;
      font-size: 48px;
      line-height: 60px;
    }
    .razer-text-content {
      line-height: 24px;
      font-size: 16px;
    }

    #three-logos {
      padding-top: 16px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 20px;
      img {
        height: 92px;
      }
      img:first-child {
        margin-right: 12px;
      }
    }
  }

  #complemented-by-comfort-section {
    .razer-features-list {
      padding-left: 18px;
      padding-right: 18px;
      .razer-feature {
        flex-basis: calc(100% / 3);
      }
    }
  }

  #contact-form-section {
    .row {
      padding-left: 80px;
      padding-right: 80px;
    }
    .form {
      padding-bottom: 0;
    }
  }

  #footer {
    background-color: $color-darker;
    // height: 150px;
    .container {
      padding-left: 15px;
      padding-right: 15px;
      .row {
        padding-left: 0;
        padding-right: 0;
      }
    }

    #footer-menu {
      height: 87px;
      padding-top: 0;
      padding-bottom: 0;
      nav {
        padding-top: 0;
        padding-bottom: 0;
        ul {
          text-align: center;
          li {
            display: inline;
            padding-right: 18px;
            padding-left: 18px;
            padding-top: 20px;
            padding-bottom: 20px;
            a {
              font-size: 11px;
            }
          }
        }
      }

      [class*="col-"] {
        display: flex;
        align-items: center;
        &:nth-child(2) {
          justify-content: center;
        }
        &:nth-child(3) {
          justify-content: flex-end;
        }
      }

      .social-icons img {
        height: 12px;
        width: 12px;
      }
    }

    .razer-divider {
      margin-top: 14px;
    }
    .razer-copyright p {
      text-align: center;
      font: {
        size: 10px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #footer {
    #footer-menu {
      nav {
        ul {
          li {
            padding-right: 20px;
            padding-left: 20px;
            font-size: 11px;
          }
        }
      }
    }
  }
}
